#result {
    border: 2px solid #888;
    background-color: #f0f2f2;
}

svg {
    display: block;
}

.node {
    cursor: move;
    font-weight: 100;
}

.link { 
    stroke: #333; 
    stroke-opacity: 1; 
    stroke-width: 2px; 
}

.link.px2.in { 
    stroke: #364af7; 
    stroke-opacity: 1; 
    stroke-width: 2px; 
}

.link.px8.in { 
    stroke: #364af7;
    stroke-opacity: 1; 
    stroke-width: 8px; 
}

.link.px16.in { 
    stroke: #364af7;
    stroke-opacity: 1; 
    stroke-width: 16px; 
}

.link.px2.out { 
    stroke: #f74a4a;
    stroke-opacity: 1; 
    stroke-width: 2px; 
}

.link.px8.out { 
    stroke: #f74a4a;
    stroke-opacity: 1; 
    stroke-width: 8px; 
}

.link.px16.out { 
    stroke: #f74a4a;
    stroke-opacity: 1; 
    stroke-width: 16px; 
}